
{{if (getenv "OUTPUTS")}}
{{$outputs := split (getenv "OUTPUTS") ","}}
{{range $outputs}}
Include "/etc/collectd/plugin-cfgs/outputs-{{.}}.conf"
{{end}}
{{else}}
Include "/etc/collectd/plugin-cfgs/outputs-cloudwatch.conf"
{{end}}

{{$plugins := split (getenv "PLUGINS") ","}}
{{range $plugins}}
Include "/etc/collectd/plugin-cfgs/{{.}}.conf"
{{end}}

